.header__logo {
  width: 142.01px;
  height: 33.4px;
  margin-top: 45px;
  margin-bottom: 39.611px;
}

@media screen and (max-width: 485px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-top: 28px;
    margin-left: 27px;
    margin-bottom: 30.611px;
  }
}