@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards__loading-icon {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-top: 5px solid white;
  border-right: 5px solid white;
  border-radius: 50%;
  animation: rotation linear .8s infinite;
}
